﻿
@{
     ViewBag.Title = "Home";
}

<div class="slideshow">
     <div class="slide">
          <img src="~/images/1.jpg" alt="Slide 1">
     </div>
</div>
<!--Produse noi-->
<div class="new-products">
     <h2 class="title-h2">Produse Noi</h2>
     <div class="newP-container">
          <div class="newP-item">
               <img src="~/images/2.jpg" alt="Product 1">
               <p>Produs1 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="newP-item">
               <img src="~/images/2.jpg" alt="Product 2">
               <p>Produs1 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="newP-item">
               <img src="~/images/2.jpg" alt="Product 3">
               <p>Produs2 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="newP-item">
               <img src="~/images/2.jpg" alt="Product 4">
               <p>Produs3 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="newP-item">
               <img src="~/images/2.jpg" alt="Product 4">
               <p>Produs4 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
     </div>
     <div class="newP-button-container">
          <a href="#" class="button1">Toate Promoțiile</a>
     </div>
</div>
<!--Promotii-->
<div class="promotions">
     <h2 class="title-h2">Promoți special</h2>
     <div class="promo-container">
          <div class="promo-item">
               <img src="~/Content/images/2.jpg" alt="Product 1">
               <p>Produs1 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="promo-item">
               <img src="~/Content/images/2.jpg" alt="Product 2">
               <p>Produs1 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="promo-item">
               <img src="~/Content/images/2.jpg" alt="Product 3">
               <p>Produs2 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="promo-item">
               <img src="~/Content/images/2.jpg" alt="Product 4">
               <p>Produs3 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
          <div class="promo-item">
               <img src="~/Content/images/2.jpg" alt="Product 4">
               <p>Produs4 brand cantitate</p>
               <h3>1100mdl</h3>
          </div>
     </div>
     <div class="promo-button-container">
          <a href="#" class="button1">Toate Promoțiile</a>
     </div>
</div>
<!--Noutati-->
<div class="news">
     <h2 class="title-h2">Noutați</h2>
     <div class="news-container">


          <div class="news-item">
               <img src="~/Content/images/2.jpg" alt="Product 2">
               <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book...
               </p>
          </div>
     </div>

     <div class="promo-button-container">
          <a href="#" class="button1">Toate Noutațile</a>
     </div>
</div>
