<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crema Hidratantă cu Acid Hialuronic</title>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="deasupra-paginii">
        <h1>Pagina de produse</h1>
    </div>

    <div class="deasupra-paginii2">
        <p>.</p>

        <div class="blocuri-deasupra">
            <img src="~/Content/images/collistar3.jpg" />
            <h4>Corp</h4>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="blocuri-deasupra1">
            <img src="~/Content/images/collistar3.jpg" />

            <h4>Corp</h4>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>





    <div class="pagina-completa">
        <div class="filter1">
            <div class="icon-minus-color">
                <div class="horizontal">

                    <h3>Branduri</h3> <h3><i class="fa-regular fa-square-minus"></i></h3>

                </div>
            </div>
            <div class="scroll-container">
                <div class="square-list">
                    <ul>
                        <li><i class="fa-regular fa-square"></i>Astra Make up</li>
                        <li><i class="fa-regular fa-square"></i>Maybelline</li>
                        <li><i class="fa-regular fa-square"></i>Seven7een</li>
                        <li><i class="fa-regular fa-square"></i>Vivienne Sabo </li>
                        <li><i class="fa-regular fa-square"></i>Collistar</li>
                        <li><i class="fa-regular fa-square"></i>Max Factor</li>
                        <li><i class="fa-regular fa-square"></i>Revolution</li>
                        <li><i class="fa-regular fa-square"></i>Revolution</li>
                        <li><i class="fa-regular fa-square"></i>Revolution</li>
                        <li><i class="fa-regular fa-square"></i>Revolution</li>
                        <li><i class="fa-regular fa-square"></i>Revolution</li>

                    </ul>
                </div>
            </div>

            <div class="icon-minus-color">

                <div class="horizontal">

                    <h3>Țară</h3><h3><i class="fa-regular fa-square-minus"></i></h3>

                </div>
            </div>

            <div class="scroll-container">
                <div class="square-list">
                    <ul>
                        <li><i class="fa-regular fa-square"></i>Elveția</li>
                        <li><i class="fa-regular fa-square"></i>Canada</li>
                        <li><i class="fa-regular fa-square"></i>Italia</li>
                        <li><i class="fa-regular fa-square"></i>Rusia</li>
                        <li><i class="fa-regular fa-square"></i>Grecia</li>
                        <li><i class="fa-regular fa-square"></i>Germania</li>
                        <li><i class="fa-regular fa-square"></i>Coreea</li>
                        <li><i class="fa-regular fa-square"></i>Anglia</li>
                        <li><i class="fa-regular fa-square"></i>Spania</li>
                        <li><i class="fa-regular fa-square"></i>Franța</li>

                    </ul>
                </div>
            </div>
            <div class="icon-minus-color">
                <div class="horizontal">
                    <h3>Categorie</h3><h3><i class="fa-regular fa-square-minus"></i></h3>
                </div>
            </div>
            <div class="scroll-container">
                <div class="square-list">
                    <ul>
                        <li><i class="fa-regular fa-square"></i>Fond de ten și bază pentru machiaj</li>
                        <li><i class="fa-regular fa-square"></i>Corector și consilier</li>
                        <li><i class="fa-regular fa-square"></i>Pudră pentru față</li>
                        <li><i class="fa-regular fa-square"></i>Fard de obraz și iluminator</li>
                        <li><i class="fa-regular fa-square"></i>Bronzator pentru față</li>
                        <li><i class="fa-regular fa-square"></i>Conturarea feței</li>


                    </ul>
                </div>
            </div>

            <div class="publicitate">

                <img src="~/Content/images/Advertisement.png" />

            </div>
        </div>

        <div class="produsele">


            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />


                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>

            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>

            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>

            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>
            <div class="produse">

                <img src="~/Content/images/collistar3.jpg" />
                <h4>Denumire produs</h4>
                <p>Descriere produs</p>

            </div>

        </div>


        <div class="publicitate">

            <img src="~/Content/images/Advertisement.png" />

            <img src="~/Content/images/Advertisement.png" />

        </div>

    </div>

    <div class="text">
        Catalogul magazinului online de parfumerie si cosmetice prezinta o gama variata de produse cosmetice  la cei mai importanti producatori europeni.
    </div>


</body>
</html>
